.wrapper {
    width: 100%;
    height: 100%;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(231, 228, 230);
    scroll-behavior: smooth;
}

canvas {
    display: block;
    position: fixed;
}

/****************** NAV BAR *******************/

.menu {
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    background: white;
    position: fixed;
    z-index:1; 
}

.logo {
    position: fixed;
    float: left;
    margin-top: -14px;
    width: 30%;
}

.logo img {
    height: 70px;
    width: 60px;
}

#navbar ul {
    list-style: none;
    background: none;
    overflow: hidden;
    color: rgb(41,51,71);
    padding: 0;
    margin: auto;
}
#navbar ul li {
    display: inline-block;
}

#navbar ul li a {
    text-decoration: none;
    color: rgb(41,51,71);
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    overflow: hidden;
    font-family: 'Fredoka One', cursive;
}

#navbar ul li a:hover {
    color: rgb(124, 7, 7);
    height: 66px;
}
.active, .btn:hover {
    border-radius: 25px;
    border: 2px solid darkred;
    color: darkred;
}
a {
    font-family:'Droid Sans', serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
    line-height: 50px;
}

/******************** LEFTSIDE ICONS ********************/

.leftside {
    top: 25%;
    position: fixed;
    z-index:1; 
}

.leftside li {
    list-style-type: none;
    padding: 10px;
    transition: 0.6s;
    position: relative;
    margin-top: -20px;
}

.leftside li i {
    font-size: 40px;
}

.leftside li:hover {
    padding: 10px 30px;
}

/******************** HOME SECTION ********************/
#home {
    width: 100%;
    overflow: hidden;
}

.cotainer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
}

.cotainer-content h1 {
    font-size: 60px;
    animation: type 3s steps(19);
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid black;
    width: 19ch;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 19ch;
    }
}

.cotainer-content p {
    font-size: 24px;
    text-align: center;
}

.cotainer-content p a {
    font-size: 24px;
    /* text-align: center; */
}

.image-container {
    /* border: 2px solid black; */
    width: 60%;
    height: 700px;
    /* margin-top: 280px;     */
    margin: auto;
}

.image-container img {
    margin-top: 420px;
}

.projects-link {
    text-align: center;
    margin-top: -200px;
}

.projects-link a {
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}

.projects-link a:hover {
    color: darkred;
}


/******************** PROJECTS SECTION ********************/

#portfolio {
    /* height: 100%; */
    width: 100%;
}

.projects-section {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 90px;
}

.card-panel {
    width: 360px;
    height: 240px;
    display: inline-block;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 8px #888888;
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    transition: all .9s ease;
    opacity: 0;
    background: white;
}

.card-panel:hover .overlay {
    opacity: 8;
}

.text {
    color: black;
    position: absolute;
    top: 20%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
}
.text a {
    color: darkred;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}
.wptext {
    color: black;
    position: absolute;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
}
.wptext a {
    color: darkred;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}
.overlayCross {
    height: 0;
    width: 0;
    top: 0;
    left: 0;
}
.card-panel:hover .overlayCross {
    width: 100%;
    height: 100%;
}

/******************** CONTACT SECTION ********************/

#contact {
    height: 100%;
    width: 100%;
}

.contact-content {
    padding-top: 90px;
    text-align: center;
}

/* form {
    margin-top: 80px;
}

input[type=text], select, textarea {
    width: 60%;
    padding: 12px; 
    border: 1px solid black;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 20px; 
    margin-bottom: 30px; 
    resize: vertical; 
    background-color: rgb(231, 228, 230);
}

input[type=text]:hover {
    box-shadow: inset 0px 0px 0px 2px darkred;
}

textarea:hover {
    box-shadow: inset 0px 0px 0px 2px darkred;
}

.message {
    font-family: 'Fredoka One', cursive;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Fredoka One', cursive;
}

input[type=submit]:hover {
    border: 2px solid darkred;
    color: darkred;
}

.user-info {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.name-info {
    width: 100%;
    font-family: 'Fredoka One', cursive;
}

.email-info {
    width: 100%;
    font-family: 'Fredoka One', cursive;
}

input[type=text] {
    width: 95%; 
} */

.top {
    text-align: center;
    margin: 0;
}

button {
    display: inline-block;
    font-family: 'Fredoka One', cursive;
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    border: none;
    color: azure;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 5px;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\21D1';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}




footer {
    width: 100%;
    height: 100px;
    background: white;
    margin-top: 80px;
}

footer p {
    text-align: center;
    padding-top: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    color: rgb(41,51,71);
}

.footer-icons {
    text-align: center;
    font-size: 30px;
    color: rgb(41,51,71);
}
.footer-icons:hover { 
    color: darkred;
}

/******************** MEDIA QUERIES ********************/


/* @media screen and (max-width: 1100px) {

} */