/****************** GENERAL *******************/
.wrapper {
    width: 100%;
    height: 100%;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(231, 228, 230);
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background: rgb(231, 228, 230); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white; 
}

/****************** CANVAS *******************/

canvas {
    display: block;
    position: fixed;
}

/****************** NAV BAR *******************/

.menu {
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    background: white;
    position: fixed;
    z-index:1; 
}

.logo {
    position: fixed;
    float: left;
    margin-top: -14px;
    width: 30%;
}

.logo img {
    height: 70px;
    width: 60px;
}

#navbar ul {
    list-style: none;
    background: none;
    overflow: hidden;
    color: rgb(41,51,71);
    padding: 0;
    margin: auto;
}
#navbar ul li {
    display: inline-block;
}

#navbar ul li a {
    text-decoration: none;
    color: rgb(41,51,71);
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    overflow: hidden;
    font-family: 'Fredoka One', cursive;
}

#navbar ul li a:hover {
    color: rgb(124, 7, 7);
    height: 66px;
}
.active, .btn:hover {
    border-radius: 25px;
    border: 2px solid darkred;
    color: darkred;
}
a {
    font-family:'Droid Sans', serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
    line-height: 50px;
}

/****************** MOBILE HAMBURGUER *******************/

.menu-icon {
    float: right;
    padding: 5px 50px;
    cursor: pointer;
    color: #fff;
    display: none;
}


.menu-icon a {
    color: rgb(41,51,71);
    padding: 20px 0;
}

.menu-icon a:hover {
    color: darkred;
}

.mobile-nav {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    list-style: none;
}

.mobile-nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'Fredoka One', cursive;
    display: block;
    transition: 0.3s;
    padding: 20px 10px;
}

.mobile-nav a:hover {
    color: darkred;
    background: white;
}


.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 0;
}
  

/******************** LEFTSIDE ICONS ********************/

.leftside {
    top: 25%;
    position: fixed;
    z-index:1; 
}

.leftside li {
    list-style-type: none;
    padding: 10px;
    transition: 0.6s;
    position: relative;
    margin-top: -20px;
}

.leftside li i {
    font-size: 40px;
}

.leftside li:hover {
    padding: 10px 30px;
}

/******************** HOME SECTION ********************/
#home {
    width: 100%;
    overflow: hidden;
}

.cotainer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
}

.cotainer-content h1 {
    font-size: 60px;
    animation: type 3s steps(19);
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid black;
    width: 19ch;
}

@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 19ch;
    }
}

.cotainer-content p {
    font-size: 24px;
    text-align: center;
}

.cotainer-content p a {
    font-size: 24px;
}

.image-container {
    width: 60%;
    height: 700px;
    margin: auto;
}

.image-container img {
    margin-top: 420px;
}

.projects-link {
    text-align: center;
    margin-top: -200px;
}

.projects-link a {
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}

.projects-link a:hover {
    color: darkred;
}


/******************** PROJECTS SECTION ********************/

#portfolio {
    width: 100%;
}

.projects-section {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 90px;
}

.card-panel {
    width: 360px;
    height: 240px;
    display: inline-block;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 8px #888888;
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    transition: all .9s ease;
    opacity: 0;
    background: white;
}

.card-panel:hover .overlay {
    opacity: 8;
}

.text {
    color: black;
    position: absolute;
    top: 20%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
}
.text a {
    color: darkred;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}
.wptext {
    color: black;
    position: absolute;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
}
.wptext a {
    color: darkred;
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
}
.overlayCross {
    height: 0;
    width: 0;
    top: 0;
    left: 0;
}
.card-panel:hover .overlayCross {
    width: 100%;
    height: 100%;
}

/******************** CONTACT SECTION ********************/

#contact {
    height: 100%;
    width: 100%;
}

.contact-content {
    padding-top: 90px;
    text-align: center;
}

form {
    margin-top: 80px;
}

input[type=text], select, textarea {
    width: 60%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 2px solid darkred; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 20px; /* Add a top margin */
    margin-bottom: 30px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    background-color: rgb(231, 228, 230);
}

input[type=text]:hover {
    box-shadow: inset 0 0 10px #000000;
}

#message:hover {
    box-shadow: inset 0 0 10px #000000;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: black;
    color: rgb(231, 228, 230);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    border: 2px solid darkred;
    color: darkred;
}

.user-info {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.name-info {
    width: 100%;
}

.email-info {
    width: 100%;
}

input[type=text] {
    width: 95%; /* Full width */
}

/****************** FOOTER *******************/

footer {
    width: 100%;
    height: 120px;
    background: white;
    margin-top: 120px;
    text-align: center;
}

footer p {
    text-align: center;
    padding-top: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    color: rgb(41,51,71);
}

.footer-icons a {
    
    font-size: 30px;
    color: rgb(41,51,71);
}
.footer-icons a:hover { 
    color: darkred;
}

/******************** MEDIA QUERIES ********************/


@media screen and (max-width: 1150px) {
    .projects-link {
        display: none;
    }
}

@media screen and (max-width: 930px) {
    .image-container {
        width: 60%;
        height: 750px;
        margin: auto;
    }
    .image-container img {
        margin-top: 480px;
    }
}

@media screen and (max-width: 850px) {
    .leftside {
        display: none; 
    }
    #navbar {
        display: none;
    }
    .menu-icon {
        display: block;
        float: right;
    }
    .logo {
        width: 30%;
        margin-top: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .burger {
        float: left;
    }
    .hamburguer-bt {
        visibility: visible;
    }
    .cotainer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
    }
}

@media screen and (max-width: 599px) {
    .cotainer-content h1 {
        font-size: 50px;
        animation: type 3s steps(19);
        overflow: hidden;
        white-space: nowrap;
        border-right: 3px solid black;
        width: 19ch;
    }
}

@media screen and (max-width: 565px) {
    button {
        display: inline-block;
        font-family: 'Fredoka One', cursive;
        border-radius: 4px;
        background-color: black;
        border: none;
        color: white;
        text-align: center;
        font-size: 20px;
        padding: 5px;
        width: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin-top: 40px;
    }
}

@media screen and (max-width: 510px) {
    .cotainer-content h1 {
        font-size: 40px;
        animation: type 3s steps(19);
        overflow: hidden;
        white-space: nowrap;
        border-right: 3px solid black;
        width: 19ch;
    }
    .card-panel {
        width: 360px;
        height: 240px;
        display: inline-block;
        justify-content: space-between;
        border: 2px solid black;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 0;
        margin-right: 20px;
        box-shadow: 5px 8px #888888;
        overflow: hidden;
        position: relative;
    }    
}

@media screen and (max-width: 470px) {
    .card-panel {
        width: 360px;
        height: 240px;
        display: inline-block;
        justify-content: space-between;
        border: 2px solid black;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: -5px;;
        margin-right: 20px;
        box-shadow: 5px 8px #888888;
        overflow: hidden;
        position: relative;
    } 
    footer {
        width: 100%;
        height: 150px;
        background: white;
        margin-top: 120px;
    }
}

@media screen and (max-width: 460px) {
    .card-panel {
        width: 360px;
        height: 240px;
        display: inline-block;
        justify-content: space-between;
        border: 2px solid black;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: -10px;;
        margin-right: 20px;
        box-shadow: 5px 8px #888888;
        overflow: hidden;
        position: relative;
    } 
}

@media screen and (max-width: 445px) {
    .card-panel {
        width: 360px;
        height: 240px;
        display: inline-block;
        justify-content: space-between;
        border: 2px solid black;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: -15px;;
        margin-right: 20px;
        box-shadow: 5px 8px #888888;
        overflow: hidden;
        position: relative;
    } 
}

@media screen and (max-width: 435px) {
    .card-panel {
        width: 360px;
        height: 240px;
        display: inline-block;
        justify-content: space-between;
        border: 2px solid black;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: -20px;;
        margin-right: 20px;
        box-shadow: 5px 8px #888888;
        overflow: hidden;
        position: relative;
    } 
}

@media screen and (max-width: 420px) {
    .card-panel {
        width: 360px;
        height: 240px;
        display: inline-block;
        justify-content: space-between;
        border: 2px solid black;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: -25px;;
        margin-right: 20px;
        box-shadow: 5px 8px #888888;
        overflow: hidden;
        position: relative;
    } 
    button {
        display: inline-block;
        font-family: 'Fredoka One', cursive;
        border-radius: 4px;
        background-color: black;
        border: none;
        color: white;
        text-align: center;
        font-size: 20px;
        padding: 5px;
        width: 100px;
        transition: all 0.5s;
        cursor: pointer;
        margin-top: 80px;
    }
}

@media screen and (max-width: 415px) {
    .card-panel {
        width: 360px;
        height: 240px;
        display: inline-block;
        justify-content: space-between;
        border: 2px solid black;
        border-radius: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: -30px;;
        margin-right: 20px;
        box-shadow: 5px 8px #888888;
        overflow: hidden;
        position: relative;
    } 
}