.wrapper {
    width: 100%;
    height: 100%;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

canvas {
    display: block;
    position: fixed;
}

/****************** NAV BAR *******************/

.menu {
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    background: azure;
    position: fixed;
    z-index:1; 
}

.logo {
    position: fixed;
    float: left;
    margin-top: -14px;
    width: 30%;
}

.logo img {
    height: 70px;
    width: 60px;
}

#navbar ul {
    list-style: none;
    background: none;
    overflow: hidden;
    color: rgb(41,51,71);
    padding: 0;
    margin: auto;
}
#navbar ul li {
    display: inline-block;
}

#navbar ul li a {
    text-decoration: none;
    color: rgb(41,51,71);
    padding: 10px;
    font-weight: 500;
    font-size: 20px;
    overflow: hidden;
}

#navbar ul li a:hover {
    color: rgb(124, 7, 7);
    height: 66px;
}
.active, .btn:hover {
    border-radius: 25px;
    border: 2px solid cyan;
    color: cyan;
}
a {
    font-family:'Droid Sans', serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
    line-height: 50px;
}

/******************** LEFTSIDE ICONS ********************/

.leftside {
    top: 25%;
    position: fixed;
    z-index:1; 
}

.leftside li {
    list-style-type: none;
    padding: 10px;
    transition: 0.6s;
    position: relative;
    margin-top: -20px;
}

.leftside li i {
    font-size: 40px;
}

.leftside li:hover {
    padding: 10px 30px;
}

/******************** HOME SECTION ********************/
#home {
    width: 100%;
    overflow: hidden;
}

.cotainer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    /* border: 2px solid black; */
    padding-top: 90px;
}

.cotainer-content h1 {
    font-size: 60px;
}

.cotainer-content p {
    font-size: 24px;
    text-align: center;
}

.cotainer-content p a {
    font-size: 24px;
    /* text-align: center; */
}

.image-container {
    /* border: 2px solid black; */
    width: 60%;
    height: 700px;
    /* margin-top: 280px;     */
    margin: auto;
}

.image-container img {
    margin-top: 420px;
}

.projects-link {
    text-align: center;
    margin-top: -200px;
}

.projects-link a {
    font-size: 20px;
}

.projects-link a:hover {
    color: cyan;
}


/******************** PROJECTS SECTION ********************/

#portfolio {
    /* height: 100%; */
    width: 100%;
}

.projects-section {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 90px;
}

.card-panel {
    width: 360px;
    height: 240px;
    display: inline-block;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 8px #888888;
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    transition: all .5s ease;
    opacity: 0;
    background: azure;
}

.card-panel:hover .overlay {
    opacity: 8;
}

.text {
    color: black;
    position: absolute;
    top: 20%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.text a {
    color: darkred;
    font-size: 20px;
    margin: 0;
}

.overlayCross {
    height: 0;
    width: 0;
    top: 0;
    left: 0;
}

.card-panel:hover .overlayCross {
    width: 100%;
    height: 100%;
}

/******************** CONTACT SECTION ********************/

#contact {
    height: 100%;
    width: 100%;
}

.contact-content {
    padding-top: 90px;
    text-align: center;
}

form {
    margin-top: 80px;
}

input[type=text], select, textarea {
    width: 60%;
    padding: 12px; 
    border: 1px solid cyan;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 20px; 
    margin-bottom: 30px; 
    resize: vertical; 
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    border: 2px solid cyan;
    color: cyan;
}

.user-info {
    width: 60%;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.name-info {
    width: 100%;
}

.email-info {
    width: 100%;
}

input[type=text] {
    width: 95%; 
}



